{$APP_DOMAIN} {
  encode zstd gzip
  reverse_proxy /mahjong/socket.io* app:3100
  reverse_proxy app:3000 {
    header_up X-Yougui-Client-IP {remote_host}
    flush_interval -1
  }

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
  }
}
